.show-all-blogs{
    // border: 1px solid black;
    // text-align:center;
    padding-left:5%;
    padding-right:5%;
    display: grid;

    .show-all-blogs-card{
        
        // border: 1px solid black;
            
    }
}